################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chatbot/Chatbot/obj
/Chatbot/Chatbot.Tests/bin/Debug/netstandard2.0
/Chatbot/Chatbot.Tests/obj
/Chatbot/.vs/Chatbot
